@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #fceec8;

}

.container {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left_content,
.right-content {
    flex-basis: 50%;
}

.left_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 0.5fr));
    grid-gap: 2rem;
}

.right-content {
    width: 50%;
    text-align: center;
    position: fixed;
    top: 100px;
    right: 10px;
}



.right-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.right-container {
    display: grid;
    margin: 3rem;
    text-indent: 5%;
    max-width: 40rem;

}

.skill-container {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    margin: auto;
    flex-direction: column;
}

.abilities {
    width: 30px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

img {
    height: 8rem;
    width: 10rem;
}

.card {
    width: 300px;
    background-color: #9edef9;
    border-radius: 1rem;
    box-shadow: 15px 15px rgb(189, 188, 188);
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1.5rem;
    margin: 20px;
}

.abilities .group {
    background-color: #b74555;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;

}

.base-stat {
    margin-top: 1rem;
}

.btn-group {
    display: flex;

}

.btn-group button {
    margin: 20%;
    padding: 12px;
    justify-content: space-around;
    border-radius: 1rem;
    background-color: rgb(235, 228, 228);
    width: 150px;
}

.btn-group button:hover {
    background-image: linear-gradient(black, red);
}
.message{
// color: #b74555;
padding: 5%;
}


.clip {
    position: relative;
    display: grid;
    place-items: center;
    width: 90px;
    height: 90px;
    padding-bottom: 5%;
}

.clip img {
    width: 90%;
    height: 90%;
}

@keyframes clipMe {

    0%,
    100% {
        clip: rect(0, 100px, 2px, 0);
    }

    25% {
        clip: rect(0, 2px, 100px, 0);
    }

    50% {
        clip: rect(98px, 100px, 100px, 0);
    }

    75% {
        clip: rect(0, 100px, 100px, 98px);
    }
}

.clip::before,
.clip::after {
    content: ' :) ';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 110%;
    margin: -5%;
    box-shadow: inset 0 0 0 2px #f7df1c;
    animation: clipMe 3s linear infinite;
}

#react::before,
.clip::after {
    box-shadow: inset 0 0 0 2px goldenrod;
}


.clip::before {
    animation-delay: -1.5s;
}

